@*<div class="container">
    <span class="text-center text-capitalize">LOGIN</span>
    <form asp-action="Login" asp-controller="Account" method="post">
        <div>
            <label class="form-lable">UserName: </label>
            <input class="form-control" name="UserName"/>
        </div>

        <div>
            <label class="form-lable">Password: </label>
            <input type="password" class="form-control" name="Password" />
        </div>
        <button class="btn-primary">Submit</button>
    </form>
</div>*@